@charset "utf-8";

body {
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: justify;
    margin: auto;
    padding: 1em 25px;
 
}
a{
    text-decoration: none;
}
h2 {
    font-size: 1em;
    text-align: left;
}

h1, h3{
    text-align: center;
}

article { 
    font-size: 12px;
}
.um{
    font-size: 1em;
    color: #2a6b77;
    
}    
.dois{
    font-size: 1em;
    color: #9b6d17;
}
.tres{
    font-size: 1em;
    color: #942926;
}

section {
    margin-left: 80px;
}
ul, ol {
    list-style-position: inside;
}

.campo {
    width: 100%;
    height: auto;
}



footer {
    margin-top: 10%;
    font-size: 0.8em;
    text-align: center;
}
nav {
    text-align: center;
    justify-content: space-between;
}

#icon {
    margin:5%;
    text-align: center;
}


