@charset "utf-8";

body {
    background-color: ghostwhite;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: left;
    margin: 10px;
}
a{
    text-decoration: none;
}
h1 {
    text-align: center;
}
.um{
    font-size: 1em;
    color: dimgray;
}    
.dois{
    font-size: 1em;
    color: darkgoldenrod;
}
.tres{
    font-size: 1em;
    color: darkred;
}

section {
    margin-left: 80px;
}
ul, ol {
    list-style-position: inside;
}
picture {
    zoom:normal;
    zoom:reset;
}
h3{
    text-align: left;
}

footer {
    font-size: 0.8em;
    text-align: center;
}
nav {
    text-align: center;
    justify-content: space-between;
}

#icon {
    margin:5%;
    text-align: center;
}


